/.npmrc
/*.log
/**/.DS_Store

/.swc/

/.yarn/*
!/.yarn/cache
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

/build/
/core
/coverage/
/dist/
/node_modules/
/package-lock.json
/tmp/
/tsconfig.tsbuildinfo